body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #4b00ff, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    width: 350px;
    background: transparent;
    text-align: center;
    color: white;
}

/* Encabezado */
.header {
    background-color: #43b05c;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: 3px;
}

/* Jugadores */
.jugadores {
    display: flex;
    justify-content: space-between;
    background: #e5e5e5;
    color: black;
}

.card {
    flex: 1;
    padding: 15px 5px;
    border-right: 1px solid #999;
}

.card:last-child {
    border-right: none;
}

.circulo {
    width: 60px;
    height: 60px;
    background: black;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

/* Año */
.anio {
    background: #e91414;
    padding: 20px;
}

.anio h2 {
    margin: 0;
    font-size: 50px;
    color: white;
}

/* Campeón */
.campeon {
    margin: 20px 0;
    font-size: 16px;
}

/* Caja gris */
.caja-gris {
    width: 80%;
    height: 120px;
    background: #d9d9d9;
    margin: 20px auto;
    border-radius: 30px;
}

/* Menú */
.menu {
    background: #43b05c;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-weight: bold;
}
